# CREATING  FUNCTION's " def "

In [1]:
#function definition

def area_of_circle(r):
    c = 3.14*r**2
    return c

In [2]:
#function call

print(area_of_circle(4))

50.24

In [4]:
#function call

print("Area of a circle having radius '4' is",area_of_circle(4))

Area of a circle having radius '4' is 50.24

In [11]:
#fuction definition
#return or print is optional because by default it prints or return

def greetings_call():
    print("This is my first function")

In [12]:
greetings_call()

This is my first function

In [15]:
#fuction returns none:

def return_none():
    print()
    #or you can write 'return' instead 'print()'

In [16]:
print(return_none())

None

In [17]:
#python function that returns single value

def type_of_int(i):
    if i%2==0:
        return 'Even'
    else:
        return 'odd'

In [21]:
#print or return can be igrored here optional
type_of_int(5)

'odd'

In [24]:
#python function that returns multiole values

def return_multiple_value():
    return 1,2,3

In [25]:
return_multiple_value()

(1, 2, 3)

In [26]:
#by default it returns the values as tuple

print(type(return_multiple_value()))

<class 'tuple'>

# Local and Global variable:

In [29]:
 # Local variable

def f():
    str1 = "les learn python"
    print("inside function")

In [30]:
#f()
print(str1)

NameError: name 'str1' is not defined

In [35]:
# Global variable

def f():
    print("inside function", str2)

In [38]:
#creating a variable outside the function but we can include it in a functoin
str2 = "understand  python"

In [39]:
f()
print("outside function", str2)

inside function understand  python
outside function understand  python

# Function with Default Argument:

In [40]:
def yoursum(a,b=200): # a and b are called arguments, b is default arguments!
    c=a+b
    print("The sum of", a ,"and", b ,"=", c)

In [42]:
yoursum(100) # a is but nt b so it considers the default value of b (given in the function)
yoursum(100,300) # now both a and b are given and the latest value or the particular given value of b is considered nt the default one.

The sum of 100 and 200 = 300
The sum of 100 and 300 = 400

# DEMO:

In [51]:
'''Write a user defined function which takes a list of the following list of the numbers as an argument [1,3,6,8,10,17].
The function should return the first even number identified and the even number should be printed from the point of function call'''

'Write a user defined function which takes a list of the following list of the numbers as an argument [1,3,6,8,10,17].\nThe function should return the first even number identified and the even number should be printed from the point of function call'

In [58]:
e = [1,3,6,8,10,17]
def even_num(e):
    for i in e:
        if i%2==0:
            return(i)  #for single even value from 'e'
            #print(i)  #for all even values from 'e'

In [59]:
even_num(e)

6

# LAMBDA FUNCTION:

In [62]:
# Lambda function is a single line expression function.

myfunc2 = lambda a,b:a*b

myfunc3 = lambda a,b,c:a+b+c

# myfunc2 is the name of the function, it takes two arguments

In [63]:
x = myfunc2(10,20)

y = myfunc3(10,20,30)

print(x)

print(y)

200
60

# Understanding Built-in Functions in Python :-
# (i)   Filter
# (ii)  Map 
# (iii) Reduce

In [69]:
#funtion syntax "filter = (function,sequence)"

def numgreaterthan30(j):
    return j > 30
    #print(j > 30)

In [70]:
num_seq = range(10,50)
#print(list(num_seq))

new_list = list(filter(numgreaterthan30, num_seq))
#new_list = list(filter(lambda x : x > 30, num_seq))

print(new_list)

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [72]:
#function syntax "reduce = (function,sequence)" 

def multiply2num(x,y):
    return x * y

In [74]:
from functools import reduce

product = reduce(multiply2num,[1,2,3])
#product = reduce((lambda x , y : x * y),[1,2,3,4]) (extra method without def)

print(product)

6

In [75]:
#fuction syntax "map = (function,sequence)"

In [78]:
data = [1,2,3,4,5]

new_list = map((lambda a : a*a),data)
#new_list = map((lambda a : a+1),data)

print(list(new_list))

[1, 4, 9, 16, 25]

In [1]:
def area_of_circle(r):
    return 3.14*r**2

if __name__=="__main--":
    print(area_of_circle(4))
    
#The 'main' is a function that acts (by default) as a point of execution of any program

In [2]:
def area_of_circle(r):
    return 3.14*r**2
print(area_of_circle(4))

50.24

# Built-in Function's (used in strings):

In [5]:
a = 'python'
a.upper()

'PYTHON'

In [6]:
b = 'PYTHON'
b.lower()

'python'

In [31]:
c = 'Pythonn'
c.count("n")

2

In [15]:
d = 'Python Language'
d.replace('Language','3')

'Python 3'

In [12]:
str1 = "data science is easy to learn"

In [13]:
word = str1.split(" ")
print(word)

['data', 'science', 'is', 'easy', 'to', 'learn']

In [17]:
#len() function

In [19]:
tup1 = (2,3,0,3,1,4,7,1)
tup3 = sorted(tup1)

print(tup1)
print(tup3)

print(tuple(tup3))

(2, 3, 0, 3, 1, 4, 7, 1)
[0, 1, 1, 2, 3, 3, 4, 7]
(0, 1, 1, 2, 3, 3, 4, 7)

In [39]:
tup4 = (2,3,0,3,1,4,7,1)
tup5 = reversed(tup4)
print(tup5)
print(tuple(tup5)) #converted list into tuple

<reversed object at 0x000001B29B6F8D90>
(1, 7, 4, 1, 3, 0, 3, 2)

# "CALLING FUNCTION INSIDE A FUNCTION"

In [44]:
def check_oddeven(a):
    print("Inside the function check_oddeven")
    print(a, "can be odd or even")
    
def getnum(b):
    print("Inside the function getnum")
    check_oddeven(b) #From the getnum function we are now calling another function "check_oddeven"
    print("I'm still inside the getnum")

In [45]:
getnum(100) #calling the first function only

Inside the function getnum
Inside the function check_oddeven
100 can be odd or even
I'm still inside the getnum