# TASK 1

In [ ]:
#finding factorial of a number
#using while loop

num = int(input("Enter an integer to find factorial: "))
factorial=1 
if num<0:
   print("Factorial not defined for negative integer");
elif(num==0):
    print("The factorial of 0 is 1");
else:
  while(num>0):
        factorial=factorial*num
        
        num=num-1
        
  print("Factorial of the given integer is: ")
  print(factorial)

# TASK 2

In [2]:
x = int(input("Enter a ra number: "))
i = 1

while i <= x:
    if i %  == 0:
        print(i)
    i = i + 1

Enter a number: 7
1
2
3
4
5
6
7

# TASK 3

In [ ]:
n = 0
numbers = 0
s += int(input("Enter a number: "))
while x < 5:
    n += 1
    #s += (int(input("Enter a number: ")))
print(numbers)

Enter a number: 88888

# TASK 4

In [14]:
def fbncci(num):
    
    x = int(input("enter value of a : "))
    y = int(input("enter value of b : "))
    
    count = 0
    while count < num :
        print(x,end=" , ")
        z = x+y
        x = y
        y = z
        
        count = count+1
        
n = int(input("enter the range : "))

fib = fbncci(n)

print(fib)

enter the range : 5
enter value of a : 1
enter value of b : 2
1 , 2 , 3 , 5 , 8 , None

# TASK 5

In [ ]:
t1 = (10,20,30,40,50,60,70,80,90)
t2 = (50,60,70,80,90,10,20,30,40)
t3 = t1 + t2
print(t1)
print(t2)
print(t3)

print(id(t1))
print(id(t2))
print(id(t3))
#Gives different id's or location for each variable because of the execution difference and the values in it!

# TASK 6

In [1]:
m = {10,20,30,40,50,60,70,80,90}
n = {50,60,70,80,90,10,20,30,40}
m.update(n)
print(m)
#Prints the unique values from both the sets (as sets contains only the uniques values (or) Non recurring values)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

# TASK 7

In [11]:
dd1 = {'FTP':1,'SSH':2, 'TELNET':3, 'http':4}

for i,j in dd1.items():
    if(j%2==0):
          print({i:j})

{'SSH': 2}
{'http': 4}

# TASK 8

In [ ]:
dictionary = {i:j}

for a in range(1,16):
    b = a*a
    dictionary[a]=b
    
print(dictionary)

# TASK 9

In [10]:
d1 = {'FTP':1,'SSH':2, 'TELNET':3, 'http':4}
d2 = {}

for i,j in d1.items():
    d2[j]=i
print("d2 :",d2)

d2 : {1: 'FTP', 2: 'SSH', 3: 'TELNET', 4: 'http'}

# TASK 10

In [ ]:
Employee = {'Emp1':{'name':'Sara','Dept':'It','Designation':'Team Lead'},
            'Emp2':{'name':'Anna','Dept':'It','Designation':'Senior Software Engineer'},
            'Emp3':{'name':'Andy','Dept':'BioTech','Designation':'Senior Software Engineer'},
            'Emp4':{'name':'Andy','Dept':'Biotech','Designation':'Senior Software Engineer'}}

for i,j in Employee.values():
    if(Employee.Emp3[j]==Employee.Emp4[j]):
        print(Employee)