In [3]:
#,end =" "   -   for executing the output in one line

In [4]:
l1=["PYTHON :","HELLO","WORLD"]

for i in l1:
    print(i, end = " ")

PYTHON : HELLO WORLD

In [5]:
l1=["PYTHON : ","HELLO","WORLD"]

for i in l1:
    print(i)

PYTHON :
HELLO
WORLD

In [6]:
l2 = [23,1,0,12,45]

for i in l2:
    print(i)
    
print("i'm done with for loop")

23
1
0
12
45
i'm done with for loop

# START  AND  END 
# [RANGE OPERATOR]
# (START, STOP[,STEP])

In [7]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(0,11,2):   #STEP
    print(i)

0
2
4
6
8
10

In [11]:
for i in range(1,6):
    print("'i' refers iteration",i)

'i' refers iteration 1
'i' refers iteration 2
'i' refers iteration 3
'i' refers iteration 4
'i' refers iteration 5

In [12]:
for i in range(1,6):
    print("'i' refers iteration", i, end =" ")

'i' refers iteration 1 'i' refers iteration 2 'i' refers iteration 3 'i' refers iteration 4 'i' refers iteration 5

In [13]:
students_list = ["john doe","ron doe","cindy","mindy","rakesh","rahul"]

for student in students_list:
    print(student)

john doe
ron doe
cindy
mindy
rakesh
rahul

In [14]:
 mynames = ["joe ","zoe ","brad ","angelina ","zuki ","tom ","paris "]   

for x in mynames:
    greetings = "good morning !"   #inside the for loop formatting!
    invite = "hi " + x + greetings #creating a new string(string is another variable)
    print(invite)

hi joe good morning !
hi zoe good morning !
hi brad good morning !
hi angelina good morning !
hi zuki good morning !
hi tom good morning !
hi paris good morning !

In [15]:
mynames = ["joe ","zoe ","brad ","angelina ","zuki ","tom ","paris "]

greetings = "good morning !"   #outside the for loop formatting!

for x in mynames:
    greetings = "good morning !"
    invite = "hi " + x + greetings #creating a new string(string is another variable)
    print(invite)

hi joe good morning !
hi zoe good morning !
hi brad good morning !
hi angelina good morning !
hi zuki good morning !
hi tom good morning !
hi paris good morning !

In [16]:
mylist=[1,2,3,4,5,6,7,8,9,10]
print(mylist)
count=0
for num in mylist:
    if (num % 2 == 0):
        count=count + 1  #COUNTS VARIABLES IN INCREMENTED MANNER ONLY IF THE DATA OR LIST IS CONSISTING ANY EVEN NUMBERS
        print(num)
print("the total number of even numbers is",count)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
4
6
8
10
the total number of even numbers is 5

# break statement

In [17]:
count=0     #STARTS COUNTING FROM 0
mylist = [1,2,3,4,5,6,7,8,9,10]
for x in mylist:
    if (x%2==0):
        count=count + 1
        print(x)
        if (count==2):
            break
#BREAK STATEMENT WILL EXIT THE LOOP BLOCK EVEN THOUGH THE LOOP CAN RUN 8 TIMES

2
4

In [18]:
flag = 0     #global variable
data = [1,2,3,4,5,67,78,85,95,109]

for x in data:
    if (x==500):
        flag = 1 #we are setting the flag to 1
        break #which will exit the for loop, even if the list is not fully exhausted.
    
if(flag==1):
    print("TRUE")
else:
    print("FALSE")

FALSE

In [19]:
print(dir(list))      #all the list of functions for "LISTS"

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [20]:
print(dir(tuple))     #all the list of functions for "TUPLE"

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [21]:
print(dir(dict))     #all the list of functions for "DICTIONARY"

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# FUNCTIONS :

In [22]:
l1 = [1,"B",3,'m',4,'x']
l1.insert(1,101)          #INSERTING single number in list
print(l1)

[1, 101, 'B', 3, 'm', 4, 'x']

In [23]:
l1 = [1,2,3,4]
l1.append(5)        #APPENDING single number in list
print(l1)

[1, 2, 3, 4, 5]

In [24]:
l1[2] #locating particular index value

3

In [30]:
str1 = "string"#extracting particular letter or value frm string
str1[2]

'r'

In [34]:
l1 = [1,2,3,4]
l1.extend([5,6,7])   #extend function
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [39]:
l4 = [23,1,0,45,-1]
del l4[2]              #delete keyword

In [36]:
mynames = ['joe','zoe', 'brad','tom']
print(mynames)
del(mynames[3])        #delete function
print(mynames)

['joe', 'zoe', 'brad', 'tom']
['joe', 'zoe', 'brad']

In [40]:
mynames = ['joe','zoe', 'brad','tom']
print(mynames)
del(mynames[1],mynames[2])  #delete function (more than one value)
print(mynames)

['joe', 'zoe', 'brad', 'tom']
['joe', 'brad']

In [42]:
l1 = [1,2,3,4,5,6]
p = l1.pop(2)       #POP fuction just for display..
print('the popped out value or item from the list is', p)

the popped out value or item from the list is 3

In [48]:
l1 = [1,2,3,4,5,6]
p = l1.pop()      #if not mentioned the index it directly eleminates the last value or item from the list.
print(l1)

[1, 2, 3, 4, 5]

In [49]:
oldlist = ['my','funny','world']

oldlist.remove('world')       #REMOVE function
print(oldlist)

['my', 'funny']

In [50]:
newlist = ['hello',2,3,4,'world',2,'world']
newlist.remove('world')       #REMOVE function
print(newlist)

['hello', 2, 3, 4, 2, 'world']

In [51]:
list = ['my','funny','world']

list.clear()         #CLEAR function
print(list)

[]

In [53]:
id(newlist[0]) #LOCATION

2150233606896

In [54]:
#REMOVE removes the first matching value, not a specific index
a = [3,4,6,7]
print(a)
a.remove(7)
print(a)

[3, 4, 6, 7]
[3, 4, 6]

In [56]:
#DEL removes the item at a specific index
a = [3,4,6,7]
del a[1]
print(a)

[3, 6, 7]

In [57]:
#POP removes the item at a specific index and returns it
a = [3,4,6,7]
result = a.pop(1)
print(a)
print(result)

[3, 6, 7]
4

In [55]:
#POP removes the last item and returns it
a = [3,4,6,7]
a.pop()
print(a)

[3, 4, 6]

In [59]:
mynames = ['world','apple','mango','brad','world','tom','paris']

for x in mynames:
     if(x == 'world'):
            mynames.remove(x)
print(mynames)

['apple', 'mango', 'brad', 'tom', 'paris']

 # String Slicing :

In [63]:
string1 = 'Data Science'
print(string1)
print(string1[0])
print(string1[-12])
print(string1[3:])
print(string1[1:-2])
print(string1*3)
print(string1[-1]) #LAST CHARACTER
print(string1[4]) #SPACE

Data Science
D
D
a Science
ata Scien
Data ScienceData ScienceData Science
e

In [64]:
mylist = ['banglore','delhi','chennai',2000,'delhi','cool']
print(mylist[0])
print(mylist[1:5])
print(mylist[-1])

banglore
['delhi', 'chennai', 2000, 'delhi']
cool

In [66]:
a = [1,2,3,4]
b = ['1A','2B','3C','4D']
c = ['A','B','C','D']
d = a + b + c + d
print(d)
type(d)

NameError: name 'd' is not defined

In [67]:
mylist = ['banglore','delhi','chennai',2000,'delhi','cool']
y = mylist.count('delhi')                                    #COUNT function
print(y)

2

In [74]:
l2 = [23,0,1,45,-1]
l2.sort()           #FOR DESCENDING ORDRE BUT FIRST SORTING IT IN ASCENDING ORDER
l2.reverse()
print(l2)

[45, 23, 1, 0, -1]

In [71]:
l2 = [23,0,1,45,-1]
l2.sort()          #SORTING IN ASCENDING ORDER 
print(l2)

[-1, 0, 1, 23, 45]

In [72]:
l3 = ['hello','world']
l3.reverse()           #REVERSE function
print(l3)

['world', 'hello']

In [76]:
l2 = [23,0,1,45,-1]
l5 = l2.copy()
print(l5)       #COPIED TO LIST L5.

[23, 0, 1, 45, -1]