# TASK 1

In [7]:
def palindrome(x):
    return x == x[::-1]

palindrome('TENET')

True

# TASK 2

In [17]:
def name(string):
    c=string.split()
    y=sorted(c)
    print(y)
    
name(' MY NAME IS JERRY ')

['IS', 'JERRY', 'MY', 'NAME']

# TASK 3

In [18]:
X = 'A B C D E F G H'.split()
print(X)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

# TASK 4

In [19]:
Z = [32,52,14,65]

def list1(Z):
    j=sorted(Z)
    print(j)
    
list1(Z)

[14, 32, 52, 65]

# TASK 5

In [20]:
A1={'item1':45.50,'item2':35,'item3':41.30,'item4':29,'item5':48.89}

a1=sorted(A1.values())

print(A1)
print(max(A1))
print(min(A1))

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 29, 'item5': 48.89}
item5
item1

# TASK 6

In [27]:
name=''
age=0
gender=""

def func():
    
    global name,age,gender
    name=input("enter your name: ")
    age=int(input("enter your age:"))
    gender=input("enter your gender: ")
    return name, age, gender

def sas():
    
    print('profile card')
    print('name:',name)
    print('age:',age)
    print('gender:',gender)
    
func()
sas()

enter your name: Jerry
enter your age:9
enter your gender: M
profile card
name: Jerry
age: 9
gender: M

# TASK 7

In [28]:
from functools import reduce 

product = reduce((lambda x,y : x**2*y),[1,2,])

print(product)

2

# TASK 8

In [31]:
t = [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow' , 3)]
print("Orignal Tuple :" ,t)

def Sort(t):
    t.sort(key = lambda a: a[1])
    return t

print("Sorted :" ,Sort(t))

Orignal Tuple : [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow', 3)]
Sorted : [('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

# TASK 9

In [32]:
def intersection (list1,list2):
    list3=[value for value in list1 if value in list2]
    return list3       

l1=["sandy","mandy","andy"]
l2=["handy","brandy","mandy"]

print(intersection(l1,l2))

['mandy']

# TASK 10

In [ ]:
c=[12,13,14]
d=[17,16,15]
new=list(map(lambda a,b:a+b,c,d))
print(new)

a=[12,13,14]
b=[17,16,15]
got=list(map(lambda a,b:a+b,a,b))
print(got)