# TASK 1

In [24]:
#a

rollno = 5
print(rollno,id(rollno),type(rollno))

5 2711081347504 <class 'int'>

In [25]:
#b

firstname = "charles"
print(firstname, id(firstname), type(firstname))

charles 2711162245040 <class 'str'>

In [26]:
#c

lastname = "jerry"
print(lastname, id(lastname), type(lastname))

jerry 2711162280048 <class 'str'>

In [27]:
#d

maxmarks = 50
print(maxmarks, id(maxmarks), type(lastname))

50 2711081348944 <class 'str'>

# TASK 2

In [28]:
#a its variable 'var1' which consists of a value in it '2'

var1 = 2
var1

2

In [29]:
#b ERROR because variable name cannot starts with an integer

2var = 2
2var

SyntaxError: invalid syntax (Temp/ipykernel_9188/3746873989.py, line 3)

In [30]:
#c ERROR as their is an invalid indentation after ' var ' resulting in invalid syntax

var 1 = 2
var 1

SyntaxError: invalid syntax (Temp/ipykernel_9188/3384481608.py, line 3)

In [31]:
#d ERROR as their is an invalid symbol in a variable name

var$2 = 2
var$2

SyntaxError: invalid syntax (Temp/ipykernel_9188/229045455.py, line 3)

# TASK 3

In [34]:
#a

Class = 15
Class

15

In [35]:
#b ERROR as the variable name is refering to an inbuilt function or keyword in python which is not acceptable

class = 14
class

SyntaxError: invalid syntax (Temp/ipykernel_9188/3254480544.py, line 3)

In [37]:
#c  variable consisting a value(int) 

DEF = 13
DEF

13

In [38]:
#d ERROR as the variable name is refering to an inbuilt function or keyword in python which is not acceptable

def = 12
def

SyntaxError: invalid syntax (Temp/ipykernel_9188/2653306576.py, line 3)

In [39]:
#e variable is a container of intergers or strings or floats.....so here the variable value is not defined as str or any!

a=TRUE
a

NameError: name 'TRUE' is not defined

In [40]:
#f variable is a container of intergers or strings or floats.....so here the variable value is not defined as str or any!

b=false
b

NameError: name 'false' is not defined

# TASK 4

In [41]:
#a

marksi = 5
print(marksi, id(marksi), type(marksi))

5 2711081347504 <class 'int'>

In [42]:
#b

marksii = 9
print(marksii, id(marksii), id(marksii))

9 2711081347632 2711081347632

In [43]:
#c

#so here the location of both the 'marks' or say cells are different so the location also varies!

# TASK 5

In [45]:
#a
marks = 50
maxmarks = 100
percentage = ((marks/maxmarks)*100)
print("the percentage",percentage,"%")

the percentage 50.0 %

In [46]:
#b

fullname = fullname = " " + lastname
fullname

' jerry'

In [47]:
#c

scored = "scored"
print(fullname, scored, percentage, "%")

 jerry scored 50.0 %

# TASK 6

In [55]:
MYDICTIONARY = {"INDIA":"DELHI"} 
MYDICTIONARYi = {"rollno":"fullname"}
print(MYDICTIONARY)
print(MYDICTIONARYi)

{'INDIA': 'DELHI'}
{'rollno': 'fullname'}

# TASK 7

In [56]:
#a Concatenation of 'str' and 'int' is not acceptable!


1="2"

SyntaxError: cannot assign to literal (Temp/ipykernel_9188/3635268063.py, line 3)

In [57]:
#b Two strings are combined with each other as strings cannot be added if and only if they are typecasted!

"1"+"2"

'12'

In [58]:
#c It gives the exact value with decimal value (float)

1/2

0.5

In [59]:
#d It gives the output without the decimal points(integer)

1//2

0

# TASK 8

In [61]:
#a This output refers to logical conditions which gives the output 'True' if and only if both the ends are true!

True and True

True

In [62]:
#b This output refers to logical conditions which gives the output 'False' if either of the end is false!


True and False

False

In [63]:
#c This output refers to logical conditions which gives the output 'True' if either of the ends are true!

False or true

False

In [64]:
#d This output refers to logical conditions which gives the output 'False' if both the ends are false!

False or False

False

# TASK 9

In [65]:
#a As firstname is not in the full name so its false!

firstname in fullname

False

In [66]:
#b As firstname is not the fullname or same so its false!

firstname is fullname

False

# TASK 10

In [67]:
a = 4
b = 3
c = 2
d = a**b+c
e = a**(b+c)

print(d)
print(e)

66
1024

In [ ]:
'''The values are diff. because of the order using 
PEMDAS: 
Parentheses,
Exponents, 
Multiplication and Division (from left to right),
Addition and Subtraction (from left to right).'''

# TASK 11

In [70]:
radius_of_circle = 6
area_of_circle = 3.14*(radius_of_circle**2) #'pi' value in python is 3.14

area_of_circle

113.04

# TASK 12

In [74]:
selling_price = 85
sales_tax = 18
overall_tax = (18/100)*selling_price
final_price = (selling_price + overall_tax)

print(overall_tax)
print(final_price)

15.299999999999999
100.3

# TASK 13

In [80]:
dollar = 1
inr = 75
inr_for_3333dollars = 3333/75

print("Rupees into Dollars for 3333/- INR is", inr_for_3333dollars,"$")

Rupees into Dollars for 3333/- INR is 44.44 $

# TASK 14

In [82]:
amount = 500
inflation_rate = 7
purchasing_power = amount - (inflation_rate/100)*amount
 
purchasing_power

465.0