# TASK 1

In [18]:
rollno = 5

In [19]:
print(rollno)
print((id(rollno)))
type(rollno)

5
2543750965680

int

In [21]:
firstname = 'charles'

In [22]:
print(firstname)
print((id(firstname)))
type(firstname)

charles
2543831795248

str

In [23]:
lastname = 'john'

In [24]:
print(lastname)
print((id(lastname)))
type(lastname)

john
2543831835120

str

In [25]:
maxmarks = 50

In [26]:
print(50)
print((id(50)))
type(50)

50
2543750967120

int

# TASK 2

In [27]:
var1 = 2
2var = 2
var 1 = 2
var$2 = 2

SyntaxError: invalid syntax (Temp/ipykernel_5116/3162616672.py, line 2)

In [32]:
'''conclusion = variables cannot be started by an integer but it can be added after , 
  because of the 2nd command the execution gets error.'''

'conclusion = variables cannot be started by an integer but it can be added after , \n  because of the 2nd command the execution gets error.'

# TASK 3

In [37]:
Class = 15
class = 14
DEF = 13
def = 12
a = true
b = false

SyntaxError: invalid syntax (Temp/ipykernel_5116/393697340.py, line 2)

In [38]:
'''given above are the variables defined by their names each and python is case sensitive by the above example of error
 with consisting of integers for first 4 values  and the last 2 are (remaining) are the boolean data types.'''

'given above are the variables defined by their names each and python is case sensitive by the above example of error\n with consisting of integers for first 4 values  and the last 2 are (remaining) are the boolean data types.'

# TASK 4

In [39]:
marks = 5.9
print(marks)
print((id(marks)))
type(marks)

5.9
2543831774000

float

In [42]:
marks = 9.5
print(marks)
print((id(marks)))
type(marks)

9.5
2543831774576

float

In [43]:
''' yes the id location will change in both the scenario or say for marks as their are in different rows and values'''

' yes the id location will change in both the scenario or say for marks as their are in different rows and values'

# TASK 5

In [119]:
maxmarks = 50
percentage1 = 49/50*100
percentage2 = 49//50*100

In [120]:
print(percentage1)
print(percentage2)

98.0
0

In [121]:
firstname = 'john'
lastname = 'doe'

fullname = firstname + " " + lastname
print(fullname)

john doe

In [123]:
print(fullname  +   percentage = perecentage1)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_5116/1486606654.py, line 1)

# TASK 6

In [129]:
dictionary = {"india":"delhi",  
             "telangana":"hyderabad"}     #dictionary

In [130]:
print(dictionary)

{'india': 'delhi', 'telangana': 'hyderabad'}

In [131]:
fruits = ['apple', 'banana', 'mango']

In [132]:
print(fruits)   #list

['apple', 'banana', 'mango']

# TASK 7

In [133]:
1+"2"
"1"+"2"
1/2
1//2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [135]:
'''theirs an error because the integers and the string datatype cannot be added or combined and the rest
    2nd one is additon as both are integers and added instead of strings . the 3rd and 4th are divisions can be 
    executed sucessfully.'''

'theirs an error because the integers and the string datatype cannot be added or combined and the rest\n    2nd one is additon as both are integers and added instead of strings . the 3rd and 4th are divisions can be \n    executed sucessfully.'

# TASK 8

In [141]:
True and True #

True

In [ ]:
True and False
False or True
False or False