# TASK 1

In [1]:
A = input("enter an alphabet - ")
if A=="a":
    print("PYTHON")
elif A=="b":
        print("MYSQL")
elif A=="c":
            print("EXCEL")
else:
    print("HOLIDAY")

enter an alphabet -
HOLIDAY

# TASK 2

In [2]:
num1=int(input("num1 "))
num2=int(input("num2 "))
if (num1>num2):
    print("num1 is greater than num2")
elif(num1<num2):
    print("num2 is greater than num1")
else:
    print("both the numbers are equal")

num1 5
num2 9
num2 is greater than num1

# TASK 3

In [4]:
basic_salary = int(input("enter your basic_salary : "))
if (basic_salary <= 4000):
    print(basic_salary + (basic_salary*(0.10*0.05)))
else(basic_salary 4001>10000 ):
    print(basic_salary + (basic_salary*(0.20*0.10*0.15)))
else(basic_salary > 100000):
    print(basic_salary + (basic_salary*(0.25*0.))

enter your basic_salary : 100
100.5