# TASK 1

In [3]:
mynames = ["joe","xoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
print("USA" in mynames)

False

# TASK 2

In [2]:
mynames = ["joe","xoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
count = mynames.count("world")
print("'world' is repeated",count,"times in mynames list !")

'world' is repeated 3 times in mynames list !

# TASK 3

In [2]:
dataset = list(range(1,30))
countE = 0
countO = 0
for num in dataset:
    if(num % 2 == 0):
        countE= count1+1
    if (num % 2 != 0):
        countO=count2+1
print("No of Even numbers between 1 t0 30 : ",countE)
print("No of Odd numbers between 1 to 30 : ",countO)

No of Even numbers between 1 t0 30 :  15
No of Odd numbers between 1 to 30 :  16

# TASK 4

In [117]:
count = 0
dataset = list(range(1,30))
l1 = []
for i in dataset:
    if(i%2==0):
        count = count + 1
        l1.append(i)
        
        if count == 5:
            break
print(l1)

[2, 4, 6, 8, 10]

# TASK 5

In [119]:
dataset = list(range(1,30))
l1 = []
for i in dataset:
    if(i%2==1):
        l1.append(i)
        
    if(count==2):
        break
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

# TASK 6

In [2]:
m1 = []
n1 = []

n = int(input("Enter a limit : "))

for i in range(1,n+1):
    m=input("Enter items : ")
    m1.append(m)

for j in range(1,n+1):
    n=input("Enter items : ")
    n1.append(n)
    
print(m1,n1)

m1.extend(n1)
print(m1)

Enter a limit : 5
Enter items : 9
Enter items : 10
Enter items : 11
Enter items : 15
Enter items : 19
Enter items : 68
Enter items : 1
Enter items : 6
Enter items : 3
Enter items : 5
['9', '10', '11', '15', '19'] ['68', '1', '6', '3', '5']
['9', '10', '11', '15', '19', '68', '1', '6', '3', '5']

# TASK 7

In [4]:
l1 = []

for x in range(1,11):
    square = x*x
    l1.append(square)
    
l2 = []

for y in range(31,41):
    square = y*y
    l2.append(square)
    
l1.extend(l2)
print("list :", l1)

list : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

# TASK 8

In [ ]:
num = int(input("Enter a number"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)