# WHILE LOOP

In [ ]:
n = 10
i = 1       #Control variable which controls the loop execution!
while i<=n: #While block which has an entry condition!
    print(i)
    i = i + 1

In [ ]:
n = 10
i = 1       
while i<=n:
    i = i + 1  #concentrate on the "i = i + 1"
    print(i)

In [ ]:
n = "hello world"
i = 1
while i <=10:
    i = i + 1
    print(n)

In [ ]:
count = 0
start = 1

while (count <= 25):    #counting first 25 odd numbers! 
    if (start%2!=0):
        count=count + 1
        print(start)
        #count=count + 1   this also can be done it can be above the print statement or below!
    start = start + 1

In [9]:
count = 0     #use 'count' for counting the quantity of the output or values!
start = 555
end = 567

while(start <= end): #printing even numbers in a range!
    if(start%2==0):
        #print(start)
        count= count + 1
        
    start = start + 1
print(count)         #counting just!

6

In [15]:
start = 1
count = 0
mysum = 0  
while(count<10):
    if(start%2!=0):
        count = count + 1
        
        mysum = mysum + start
        
    start = start + 1
#out of the loop   
print("the sum of 10 odd numbers is : ")

the sum of 10 odd numbers is :

In [16]:
#jump statement
n=10
i=1
while i<=5:
    print(i)
    if i==5:
        break
    i = i + 1

1
2
3
4
5

In [18]:
#continue statement (forskipping values)
#mixed datatype
names = ("john","ron",4,"cin",54,"mindy",True,"ram",102,"rahul")
for i in names:
    if type(i) is str:
        print(i)
    else:
        continue

john
ron
cin
mindy
ram
rahul

In [3]:
names = ("john","ron",4,"cin",54,"mindy",True,"ram",102,"rahul")
for i in names:
    if type(i) is int:
        continue
    print(i)  #skipping all integers in the list!
    #else:
        #continue

john
ron
cin
mindy
True
ram
rahul

In [1]:
var = 10
while var > 0:        #greater than 0
    var = var - 1
    if var == 5:      #skips 5
        continue
        
    print("variable value :", var)

variable value : 9
variable value : 8
variable value : 7
variable value : 6
variable value : 4
variable value : 3
variable value : 2
variable value : 1
variable value : 0

In [ ]:
i = 0
while i<

In [4]:
for i in range(10):
    print(i)
    continue         #example using continue connection with print(.)
    print((i*10))

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10):
    print(i)
    #continue   #example using continue connection with print(.)
    print((i*10))

0
0
1
10
2
20
3
30
4
40
5
50
6
60
7
70
8
80
9
90

In [7]:
#Pass statement
n=10
i=0

while i > n:
    pass      #filler
    #print(i)
    #i=i+1

# TUPLES

In [13]:
mytup = ('welcome',21.223,'hello world',70)
print(mytup[0])
print(mytup[1:4]) #1 t0 4th value
print(mytup[-3])
print(mytup[3])

welcome
(21.223, 'hello world', 70)
21.223
70

In [15]:
mytup1 = (1,2,3,4)
mytup3 = mytup + mytup1
mytup3

('welcome', 21.223, 'hello world', 70, 1, 2, 3, 4)

# SETS

In [2]:
employee_ids = {111,222,333,444,555}
type(employee_ids)
employee_ids.add(666)
employee_ids

{111, 222, 333, 444, 555, 666}

In [3]:
s = 333 #manually removing coz 'no indexing' in sets
employee_ids.remove(444)
print(employee_ids)

{666, 555, 333, 222, 111}

# DICTIONARY

In [7]:
di = {'jj':'jackson','dd':50,'ee':44,'007':["james","bond"],7:("james","bond")}
print(di[7])
print(7)
print('007')

('james', 'bond')
7
007

In [8]:
di.keys()   #all keys of the dictionary

dict_keys(['jj', 'dd', 'ee', '007', 7])

In [9]:
di.values() #all values of the dictionary

dict_values(['jackson', 50, 44, ['james', 'bond'], ('james', 'bond')])

In [10]:
di.items()  #all items of the dictionary

dict_items([('jj', 'jackson'), ('dd', 50), ('ee', 44), ('007', ['james', 'bond']), (7, ('james', 'bond'))])

In [11]:
di = {'jj':'jackson','dd':50,'ee':44,'007':["james","bond"],7:("james","bond")}
di[7]=("bond","james")   #replace the value(changing)
print(di)

{'jj': 'jackson', 'dd': 50, 'ee': 44, '007': ['james', 'bond'], 7: ('bond', 'james')}

In [12]:
#REPLACING AND DELETING KEY WORDS IN A DICTIONARY!

di[17]=di[7] # replacing new key word to previous one!
del di[7]    # deleting the previous key word!
print(di)

{'jj': 'jackson', 'dd': 50, 'ee': 44, '007': ['james', 'bond'], 17: ('bond', 'james')}

In [5]:
di['me']='Jerry'
print(di)

{'jj': 'jackson', 'dd': 50, 'ee': 44, '007': ['james', 'bond'], 17: ('bond', 'james'), 'me': 'Jerry'}

# ITERATORS

In [30]:
a = [1,2,3,4,5]
it = iter(a)     #iterates the a contents one by one with connection of next in the print() statement.
it1 = iter(a)
type(it)         #just mentioning the type

list_iterator

In [33]:
#this ''next()'' is required to execute along with the iteration function!

print(next(it))
print(next(it1))

3
3

In [35]:
#also

a = [1,2,3,4,5]
it = iter(a)

print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4

In [36]:
#the [35] line with for loop:

a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5